
DIY/electronics/BOM_DG_2024-05-16.csv
/.pio
/.vscode
/src/data/_installing.mp3
/src/data/0.mp3
/src/data/1.mp3
/src/data/2.mp3
/src/data/3.mp3
/src/data/4.mp3
/src/data/5.mp3
/src/data/6.mp3
/src/data/7.mp3
/src/data/8.mp3
/src/data/9.mp3
/src/data/alarm.mp3
/src/data/doorclose.mp3
/src/data/dooropen.mp3
/src/data/dot.mp3
/src/data/empty.wav
/src/data/refill.mp3
/src/data/renaming.mp3
/src/data/startup.mp3
